.Signup-Form {
    margin: 5vmin;
    width: 40vmin;
}

.Signup-Form-Text {
    margin-right: 1vmin;
    margin-left: 1vmin;
    margin-top: 0.2vmin;
    width: 40vmin;
}

.Signup-Form-Button {
    margin-right: 1vmin;
    margin-left: 1vmin;
    width: 40vmin;
}
