.Chatroom {
    background-color: #EAFEEA;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
}

.Top {
    height: 10vh;
}

.TopLeft{
    background-color: #5cb85c;
    border-style: solid;
    border-color: #DCDCDC;
    border-width: 0px 1px 1px 1px;
    text-align: center;
}

.TopRightEmpty {
    background-color: #5cb85c;
    border-style: solid;
    border-color: #DCDCDC;
    border-width: 0px 0px 1px 0px;
    text-align: center;
}

.TopRightLabel {
    background-color: #5cb85c;
    border-style: solid;
    border-color: #DCDCDC;
    border-width: 0px 0px 1px 0px;
    text-align: center;
}

.TopRightRight {
    background-color: #5cb85c;
    border-style: solid;
    border-color: #DCDCDC;
    border-width: 0px 0px 1px 0px;
    text-align: center;
}

.TopRightSignedIn {
    margin: 1vh; 
    color: #FFFFFF;
    font-size: 1vh;
}

.TopRightButton {
    font-size: 1vh;
}

.Bottom {
    height: 90vh;
}

.BottomLeft {
    background-color: white;
    border-style: solid;
    border-color: #DCDCDC;
    border-width: 0px 1px 0px 1px;
    overflow: scroll;
    max-height: 90vh;
}


.BottomRight {
    background-color: white;
    height: 90vh;
    border-style: solid;
    border-color: #DCDCDC;
    border-width: 0px 1px 0px 0px;
    padding: 0%;
}

.Textbox {
    height: 80vh;
    border-style: solid;
    border-color: #DCDCDC;
    border-width: 0px 0px 1px 0px;
    overflow-y: auto;
}

.TextInput {
    background-color: white;
    height: 10vh;
    max-height: 10vh;
    vertical-align: bottom;
}

.Input {
    padding-top: 1.25vh;
    height: 7.5vh;
    max-height: 7.5vh;
}

/* 
45DF00 
74FF7C
CBFFB4
*/

.TopLeftText {
    margin: 2.5vh;
    color: #FFFFFF;
}

.TopRightText {
    margin: 2.5vh; 
    color: #FFFFFF;
}

.Tag {
    font-size: 20px;
    font-style: normal;
}

.TagSelected {
    font-size: 30px;
    font-style: normal;
}

.MessageUser {
    font-size: 2vh;
    font-weight: 800;
    padding: 0vh 0vh 0vh 1vh;
    margin: 0vh 0vh 0vh 0vh;
}

.MessageDate {
    font-size: 1vh;
    font-weight: 400;
    padding: 0vh 0vh 0vh 1vh;
    margin: 0vh 0vh 0vh 0vh;
}

.MessageTextUser {
    font-size: 2vh;
    padding: 0vh 0vh 0vh 1vh;
    margin: 0vh 0vh 0vh 0vh;
    /* background: #5cb85c; */
}

.MessageTextOther {
    font-size: 2vh;
    padding: 0vh 0vh 0vh 1vh;
    margin: 0vh 0vh 0vh 0vh;
    /* background: #DCDCDC;  */
}

.FromUser {
    text-align: right;
    padding: 0vh 1vh 0vh 0vh;
}